{% load static %}
<footer>
  <div class="election-grid">
    <div class="election-width-one-third">
      <h3>Information</h3>
      <ul>
        <li><a href="">About this project</a> </li>
        <li><a href="">Explore</a> </li>
		<li><a href="">Candidates of Local Election</a> </li>
		<li><a href="">Political Parties in Nepal</a> </li>
        <li><a href="">Get Involved</a> </li>
        <li><a href="">Blog/Notice</a> </li>
        <li><a href="">Frequently Asked Questions (FAQ)</a> </li>
        <li><a href="">Contact Us</a> </li>
      </ul>
      <br />
    </div>

    <div class="election-width-one-third">
      <h3>Resources</h3>
      <ul>
        <li><a href="http://www.election.gov.np/election/en" target="_blank">Election Commission Nepal</a> </li>
        <li><a href="http://nepal.gov.np" target="_blank">Government of Nepal</a> </li>
      </ul>
      <br />
      <h3>Open Source</h3>
      <ul>
        <li><a href="https://github.com/NepalGov/ElectionPortal">Edit this site</a> </li>
        <li><a href="https://github.com/NepalGov/ElectionPortal/issues">Send us website feedback</a> </li>
        <li> <a href="https://github.com/NepalGov/ElectionPortal/issues/" target="_blank">Contribute to this site</a> </li>
      </ul>
      <br />
    </div>

    <div class="election-width-one-third">
      <h3>Follow us</h3>
      <a href="https://facebook.com/" target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true" title="Facebook"></i><span class="sr-only">Facebook</span></a>
	  <a href="https://twitter" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a> 
	  <a href="https://instagram.com/" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true" title="Instagram"></i><span class="sr-only">Instagram</span></a>
	  <a href="https://github.com/" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true" title="GitHub"></i><span class="sr-only">Facebook</span></a>
      <br />
      <br />
<form action="https://electionportal.us15.list-manage.com/subscribe/post?u=63bce37c1efddaa98f8a91e4f&amp;id=6ce73e41a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h3>Subscribe to our mailing list</h3>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_63bce37c1efddaa98f8a91e4f_6ce73e41a7" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

</form>
<script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    </div>
  </div>
  <div class="gov-logo">
    <a href="#"> <img alt="Election Portal" src="{% static '/img/ng_logo.png' %}" /> </a>
  </div>
</footer>