{% load staticfiles %}
<nav class="nav-topnav" id="nav-primary">
  <div class="election-grid-full">
    <div class="nav-title">
      <a class="nav-title-logo" href="#"><img src="{% static '/img/ng_logo.png' %}" alt="Nepal Election 2074"></a>
      <a class="nav-title-text" href="#"><b>{{ title }}</b></a>
    </div>
    <div class="nav-toggle">
      <a id="nav-toggle-button" href="javascript:void(0);">&#9776;</a>
    </div>
    <ul class="nav-list election-unstyled-list">
      <li><a href="{% url 'explore' %}">Explore</a></li>
      <li><a href="{% url 'parties' %}">Parties</a></li>
	    <li><a href="{% url 'candidates' %}">Candidates</a></li>
      <li><a href="{% url 'getinvolved' %}">Get Involved</a></li>
    </ul>
  </div>
</nav>
