{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/admin/head.html' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>

    $(document).ready(function(){

        $("select[name='zone']").change(function(){
            var value =  $(this).val();
            var pselect = $("select[name='district']");

            $.ajax({
                method:"get",
                dataType:"json",
                url:'/suggest/district/',
                data:{
                'zone':value
                },
                success:function(data){
                    pselect.empty();
                    $.each(data, function(index, value){
                        pselect.append("<option value='"+value.pk+"'>"+value.name+"</option>");
                    });
                },

            });
        });

    });
    </script>
  <script>

    $(document).ready(function(){

        $("select[name='district']").change(function(){
            var value =  $(this).val();
            var pselect = $("select[name='politicaldiv']");

            $.ajax({
                method:"get",
                dataType:"json",
                url:'/suggest/politicaldiv/',
                data:{
                'district':value
                },
                success:function(data){
                    pselect.empty();
                    $.each(data, function(index, value){
                        pselect.append("<option value='"+value.pk+"'>"+value.name+"</option>");
                    });
                },

            });
        });

    });
  </script>
<body>

<div id="wrapper">

    <!-- Navigation -->

    {% include 'include/admin/nav.html' %}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>
                </div>
            </div>
            {{ message }}
            <br/>
            <form method="post">
              {% csrf_token %}
              {{form.as_p}}
              <input type="submit" name="submit" value="Submit" title="Submit" />
            </form>
            <hr/>
            <h3>Lastest Added</h3>
            {% for items in items %}
            <li>
              {{ items.title }}
              {{ items.name }} - {{ items.district }} - {{ items.zone }}
            </li>
            {% endfor %}
            <hr/>

        </div>
    </div>

</div>

{% include 'include/admin/foot.html' %}

</body>
</html>
