{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/admin/head.html' %}
<body>

<div id="wrapper">

    <!-- Navigation -->
    {% include 'include/admin/nav.html' %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>
                </div>
            </div>

            <!-- ... Your content goes here ... -->

        </div>
    </div>

</div>

{% include 'include/admin/foot.html' %}

</body>
</html>
