{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>

    {% include 'include/navbar.html' %}

    <div class="page-content">
      <div class="election-grid">
        <h1>Select a Candidate</h1> <br />
      <div class="election-grid team">{% for infor in infor %}
        <a href="{% url 'profile' infor.district infor.politicaldiv.slug infor.slug %}">{{ infor.name | capfirst }}</a>
      {% endfor %} <br />
        <div class="election-grid">
          <bold>Is Somebody missed?</bold>
          <span>Add Them Here <a href="{% url 'wpcandidate' %}">Add Candidates</a></span>
        </div>
      </div>
    </div>
  </div>
  <br />
  {% include 'include/extended_footer.html' %}
	{% include 'include/footer.html' %}
	{% include 'include/script.html' %}
</body>
</html>
