{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>

    {% include 'include/navbar.html' %}

    <div class="page-content">
      <div class="election-grid">
        <h1>{{ dis.name }}</h1> <br />
        <div class="election-grid team">{% for infor in infor %}{% if dis.id == infor.district.id %}
          <a href="{% url 'politicaldiv' dis.name infor.slug %}">{{ infor.name | capfirst }}</a>
        {% endif %}{% endfor %} <br />
          <div class="election-grid">
            <bold>Is You VDC or Municipality missed?</bold>
            <span>Add Them Here <a href="{% url 'wppoliticaldiv' %}">Add VDC or Municipality</a></span>
          </div>
        </div>
        Zone : {{ dis.zone }}<br/>
        No of VCD : {{ dis.vdc }}<br/>
        No of Municipality : {{ dis.municipality }}<br/>
        No of Sub-Metropolitan City : {{ dis.submetropolitan }}<br/>
        No of Metropolitan City : {{ dis.metropolitan }}<br/>
        Total Population : {{ dis.population }}<br/>
        Total Voters : {{ dis.voters }}<br/>
      </div>
    </div>

{% include 'include/extended_footer.html' %}

{% include 'include/footer.html' %}
{% include 'include/script.html' %}
</body>
</html>
