{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>

    {% include 'include/navbar.html' %}

    <br>
    <div class="election-grid">
      <div class="election-width-two-thirds">
        <h1>Explore</h1>
        <p class="election-font-lead">We are dedicated team players who bring energy, ideas and pride to their work. Each member of our team is a specialist in his or her field. Together, we make sure you'll never leave disappointed for what you have come here. </p>
      </div>
    </div>
    <div class="election-grid">
      <ul id="navigation">
        {% for infor in infor %}
        <li><a href="{% url 'district' infor.name %}">{{ infor.name | capfirst }}</a>
        </li>
        {% endfor %}
      </ul>
      <br />
    </div><br /><br />

{% include 'include/extended_footer.html' %}

{% include 'include/footer.html' %}
{% include 'include/script.html' %}
</body>
</html>
