{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>

    {% include 'include/navbar.html' %}

    <div class="page-content">
      <div class="election-grid">
        <h1>Parties</h1> <br />
        <div class="election-grid team">{% for infor in infor %}
          <div class="election-width-one-fourth">
            <a href="{% url 'partyprofile' infor.slug %}">
              <img src="{{ infor.logo.url }}" alt="Photo of {{ infor.name | title }}">
            </a>
            <div class="team member-name">
              <a href="{% url 'partyprofile' infor.slug %}"><strong>{{ infor.name | title }}</strong></a>
            </div>
            <div class="role">
              <p>{{ infor.slogan | title }}</p>
            </div>
          </div>{% endfor %}   <br />
          <div class="election-grid">
            <bold>Is Something missed?</bold>
            <span>Please Contact Us</a></span>
          </div>
        </div>
      </div>

    </div>


{% include 'include/extended_footer.html' %}

{% include 'include/footer.html' %}
{% include 'include/script.html' %}
</body>
</html>
