{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>

    {% include 'include/navbar.html' %}
    <div class="page-content">
      <div class="election-grid">
        <div class="team-member">
          <div class="election-grid">
            <h1>{{ infor.name | title }}</h1> <br />
            <div class="election-width-one-third">
              {% if infor.logo %}
                <img src="{{ infor.logo.url}}" alt="Photo of {{ infor.name | title }}">
              {% else %}
                <img src="{% url 'home' %}static/img/noimage.png" alt="Placeholder Government of Nepal logo since {{ infor.name | title }} does not have a photo yet">
              {% endif %}
              <div class="role">
                <p>{{ infor.slogan | title }}</p>
              </div>

        	  <h3>Content</h3>
	              <ul class="election-unstyled-list">
                  <li>Established:- {{ infor.established }}</li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>

            </div>
            <div class="election-width-two-thirds">
              <h2 id="biography">About</h2>
                <div class="bio">{{ infor.about|safe }}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'include/footer.html' %}
    {% include 'include/script.html' %}
    <br />
    {% include 'include/extended_footer.html' %}
</body>
</html>
