{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>

    {% include 'include/navbar.html' %}

    <div class="page-content">
      <div class="election-grid">
        <h1>Select a Candidate</h1> <br />
        <div class="election-grid team">{% for infor in infor %}{% if dis.id == infor.district.id %}{% if location.id == infor.politicaldiv.id %}
          <a href="{% url 'profile' dis.name location.name infor.slug %}">{{ infor.name | capfirst }}</a>
        {% endif %}{% endif %}{% endfor %}  <br />
          <div class="election-grid">
            <bold>Is Somebody missed?</bold>
            <span>Add Them Here <a href="{% url 'wpcandidate' %}">Add Candidates</a></span>
          </div>
        </div>
      </div>
    </div>
    {% include 'include/footer.html' %}
    {% include 'include/script.html' %}
    <br />
    {% include 'include/extended_footer.html' %}
</body>
</html>
