

<div class="team-member">
  <div class="election-grid">
    <h1>{{ page.firstname }} {{ page.lastname }}</h1> <br />
    <div class="election-width-one-third">
      {% if page.photo %}
        <img src="{{ site.baseurl }}/img/candidate/profile/{{ page.photo }}" alt="Photo of {{ page.firstname }} {{ page.lastname }}">
      {% else %}
        <img src="{{ site.baseurl }}/img/ng_logo.png" alt="Placeholder Government of Nepal logo since {{ page.firstname }} {{ page.lastname }} does not have a photo yet">
      {% endif %}

	  <h3>Content</h3>
	              <ul class="dashed">
            <li>&nbsp;&nbsp;<a href="#biography">Biography</a></li>
              {% if page.education %}<li>&nbsp;&nbsp;<a href="#education">Education</a></li>{% endif %}
              {% if page.career %}<li>&nbsp;&nbsp;<a href="#career">Career</a></li>{% endif %}
              {% if page.personal %}<li>&nbsp;&nbsp;<a href="#personal">Personal</a></li>{% endif %}
			  {% if page.campaign %}<li>&nbsp;&nbsp;<a href="#campaign">Campaign</a></li>{% endif %}
          </ul>

    </div>
    <div class="election-width-two-thirds">
      <h2 id="biography">Biography</h1><div class="bio">{{ page.bio }}</div>
      {% if page.education %}<h2 id="education">Education</h2><div class="bio">{{ page.education }}</div>{% endif %}
	 {% if page.career %}<h2 id="career">Career</h2><div class="career">{{ page.career }}</div>{% endif %}
      {% if page.personal %}<h2 id="personal">Personal</h2><div class="personal">{{ page.personal }}</div>{% endif %}
      {% if page.campaign %}<h2 id="campaign">Campaign</h2><div class="campaign">{{ page.campaign }}</div>{% endif %}
    </div>
  </div>
  <div class="election-grid">
    <div class="election-width-one-whole">
      {{ content }}
    </div>
  </div>
</div>
